/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    scroll-behavior: smooth;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* Global styles */
* {
    box-sizing: border-box;
}
body {
    font-size: 62.5%;
    font-weight: 300;
    color: #555;
    font-family: 'Rajdhani', serif;
}
h2 {
    font-family: 'Inknut Antiqua', cursive;
    font-size: 2em;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    }



h3 {
    font-weight: 500;
    font-size: 2.4em;
    color: #363636;
}

h5 {
    font-family: 'Inknut Antiqua';
    font-size: 1.6em;
    color: #e6cc2d;
    }



p {
    font-size: 1.8em;
}
a {
    text-decoration: none;
}
.container {
    max-width: 980px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
section {
    padding-top: 15px;
    padding-bottom: 0px;
}
.btn {

    font-weight: 600;
    font-size: 1.8em;
    color: #ffffff;
    background: #9d083b;
    padding: 6px 30px;
    border-radius: 5px;
}
.btn-tab {
    
    border: 1px solid #000;
}
.btn-tab:hover,
.btn-tab.active {
    background-color: #fff;
    color: #9d083b;
}




ul {
    list-style: none;
    padding: 0;
}



img {
  padding-bottom: 10px;
    max-width: 100%;
    height: auto;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
small {
    font-size: 1.2em;
    font-style: italic;
}
/* ======== HEADER ========== */
header {
    padding: 13px 0 8px;
}
nav {
    display: table;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9d083b;
    text-align: center;
    color: #000;
}
nav ul {
    display: table-cell;
    vertical-align: middle;
}
nav a {
    color: #fff;
    font-size: 3.6em;
    line-height: 70px;
    padding: -1px 5px;
}
nav .btn {
    background: #fff;
    font-size: 3.6em;
    border-radius: 5px;
}
.close {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    margin: 0;
    cursor: pointer;
}

.close span {
    width: 35px;
    height: 2px;
    background: white;
    display: block;
    transform: rotate(45deg);
}
.close span:nth-child(2) {
    transform: rotate(-45deg);
    position: relative;
    top: -2px;
}
.header-logo {
    display: inline-block;
}
.burger {
    width: 44px;
    height: 25px;
    padding: 5px 0;
    float: right;
    margin-top: 12px;
}
.burger span {
    width: 100%;
    height: 2px;
    background-color: #000;
    display: block;
    margin-top: 9px;
}
.burger span:nth-child(1) {
    margin-top: 0;
}
button {
    background: transparent;
    border: none;
}

.container .logo-crni img {
    max-width: 100%;
    height: auto;
  margin-left: auto;
  margin-right: auto;
  display:inline;
}

/* ======== HEADER END ========== */

/* ======== HERO ========== */
.hero .slides .waiter1 {
  display: none;
}

.hero .background {
background-repeat: no-repeat;
    background-image: url(../img/slide1.png);
    background-size: cover;
    background-position: center;
    padding: 20px 0;
    padding-top: 140px;
padding-bottom: 140px;
}
section.hero {
  padding: 0;
}
h4 {
  font-family: 'Inknut Antiqua';
    font-size: 2.6em;
    color: #e6cc2d;
    text-align: center;
}

.hero .slides .btn {
  text-align:center;
display: block;
margin: 0 auto;
max-width: 160px;
}

.hero h4 {
  color: #e6cc2d;
}

.btn:hover {
  background-color: #540420;
  color: white;
  }
/* ======== HERO END ========== */

/* ======== MENU ========== */

section.menu {
  padding-top: 10px;
}
.menu .head-title {
    max-width: 551px;
    margin: 0 auto;
}
.menu h2 {
    position: relative;
    color: #000;
    padding: 0 15px;
    overflow: hidden;
}
.menu h2 span {
    display: inline-block;
    position: relative;
    padding: 0 20px;
}
.menu h2 span:before,
.menu h2 span:after {
    content: '';
    display: block;
    width: 1000px;
    position: absolute;
    top: 0.73em;
    border-top: 2px solid #9d083b;
}
.menu h2 span:before {
    right: 100%;
}
.menu h2 span:after {
    left: 100%;
}

.menu .tabs {
    padding-bottom: 60px;
}
.menu .tabs li {
 
 display: inline-block;
 margin: 0 3px;
 font-size: 1.8em;
 cursor: pointer;
 border-radius: 5px;
}
.menu .food ul {
    display: none;
    text-align: left;
}
.menu .food ul.active {
    display: block;
}
.menu .food li {
    position: relative;
    margin-bottom: 25px;
}
.menu .food p {
    font-size: 1.8em;
    margin: 0;
    display: inline;
    font-weight: 500;
    padding-right: 15px;
    background: #fff;
    color: black;
}
.menu .food li::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #e6cc2d;
    bottom: 33px;
    left: 0;
    position: absolute;
    z-index: -1;
}
.menu .food small {
    display: block;
    color: #9d083b;
    font-style: italic;
    font-weight: 400;
    font-size: 1.4em;
}
.menu .food span {
    position: absolute;
    right: 0;
    font-weight: 500;
    font-size: 2em;
    background: #fff;
    bottom: 20px;
    padding-left: 15px;
}
/* ======== MENU END ========== */

/* ======== SPECIAL OFFER ========== */
.special-offer p:first-of-type {
  color: #e6cc2d;
  font-weight: 800;
}
.special-offer h2, h4, p {
  color: white; 
}

.special-offer {
  background-color: black;

}
section.special-offer {
  padding-bottom: 15px;

}
.special-offer h4 {
  text-align: left;
}
.special-offer .flexslider-carousel .slides ul {
  padding: 0;
}
.special-offer h2 {
  padding-bottom: 20px;
}
/* ======== SPECIAL OFFER END ========== */
/* ======== HAPPENINGS ========== */
.happenings h5 {
  color: #9d083b;
  text-align: center;
      margin-bottom: 6px;
    margin-top: 3px;
}
.happenings li {
    padding-bottom: 20px;
}
.happenings  li p {
  text-align: center;
    margin: 0;
}
.happenings li p:first-child {
    font-weight: 700;
}

.happenings .btn {

  text-align:center;
  cursor: pointer;
 display: inline-block;
  margin: 0 auto;
}

.happenings .btn:hover {
  background-color: #540420;
}

.happenings p {
font-weight: 600;
color: black;
  }
/* ======== HAPPENINGS END ========== */


/* ======== ABOUT US ========== */

.about-us h5 {
    color: black;
}
.about-us p {
  color: black;
  font-weight: 400;
}


/* ======== ABOUT US END========== */



/* ======== GALLERY========== */

.gallery .tabs li {
     display: inline-block;
    margin: 0 3px;
    font-size: 1.8em;
    cursor: pointer;
    border-radius: 5px;

}

.gallery .unstyle-list {
  text-align: center;
  margin-bottom: 30px;
}

.gallery h2 {
      padding-bottom: 5px;
}

.gallery li img {
    width: 100%;
    height: auto;
    
   
}

/* ======== GALLERY END========== */


/* ======== INTERESTING FACTS ========== */
.interesting-facts{
    background-color: black;
    text-align: left;
}

section.interesting-facts {
  padding-bottom: 15px;
}

.text-block p {
    color: white;
    display: block; 
}

.interesting-facts h2 {
    color: white;
}

.interesting-facts ul {
  padding: 0;
}

.interesting-facts li:nth-child(odd){
  padding-right: 5px;
}

.interesting-facts li:nth-child(even){
  padding-left: 5px;
}
/* ======== INTERESTING FACTS END========== */

/* ======== CONTACT ========== */

.contact-div {
  position: relative;
  width: 100%;
  max-width: 400px;
}
.contact ul{
  padding: 0;
}
.contact-div  img {
 margin-right: 39px;
  height: auto;
}

.contact .btn {
  position: absolute;
  top: 37%;
  right: -21%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  cursor: pointer;
}

.contact .btn:hover {
  background-color: #540420;
}

.contact .kontakt2 img {
  width: 100%;
  height: auto;
  padding-top: 36px;
}

.contact p {
  font-weight: 800;
  color: black;
  text-align: center;
}


.contact .btn {
    background: #9d083b;
    font-size: 1em;
    border-radius: 5px;

}

a[href^="mailto"] { color: #9d083b; }

 .contact ul {display: block;
        text-align: center;
         width: 70%;
    margin: auto;
    }
    .contact li {
       display: block;
        text-align: left;
        vertical-align: top;
    }
/* ======== CONTACT END ========== */

/* ======== FOOTER ========== */
.footer {
    padding: 25px 0;
    background-color: black;
    text-align: center;
}

.logo-copy-wrap {
    display: inline-block;
}

.logo-copy-wrap small {
    display: block;
}

.footer ul {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}

.footer li a {
    color: #fff;
}

.footer li a:hover {
    color: #ca3f3f;
}

.footer small {
  color: white;
}
/* ======== FOOTER END========== */

/* ======== Modal  ========== */
.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.6);
}
.modal.open {
    display: block;
}
.modal-wrap {
    max-width: 628px;
    width: 90%;
    padding: 20px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 90%;
    overflow-y: auto;
}
.modal-wrap > * {
    display: inline-block;
}
.modal-wrap .close span {
    background-color: #d6d6d6;
}
.modal-wrap h3 {
    color: #9d083b;
    width: 100%;
}
.modal-inner {
    max-width: 520px;
    margin: 0 auto;
}
legend {
  font-weight: 400;
    font-size: 20px;
    padding-bottom: 30px;
}

input {
    border: 1px solid #d6d6d6;
    width: 100%;
    padding: 20px 15px;
    margin-bottom: 20px;
    font-size: 1.6em;
}
input::placeholder {
  color: #d6d6d6;
  font-size: 16px;
  font-style: italic;
}
input:focus {
    outline: none;
    border-color: #f34949;
}
input.btn {
    max-width: 300px;
    margin: 0 auto;
    display: block;
    padding: 13px 15px;
}
 input[type="date"]:before,
 input[type="time"]:before {
    content: attr(placeholder) !important;
    color: #d6d6d6;
    font-style: italic;
    margin-right: 0.5em;
  }
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 480px) {
    section {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
      .footer ul {
        float: right;
        padding-top: 0;
      }
      .footer li {
        float: left;
        padding-left: 25px;
      }
      .logo-copy-wrap {
        float: left;
        text-align: left;
      }
      
    }


@media only screen and (min-width: 768px) {

.menu .food li {
        float: left;
        width: 46%;
        margin-bottom: 35px;
    }
    .menu .food li:nth-child(even) {
        margin-left: 4%;
    }
    .menu .food li:nth-child(odd) {
         margin-right: 4%;
    }
    .menu .tabs li {
        
        margin: 0 20px;
    }

/* ======== SPECIAL OFFER========== */
    .special-offer ul {
        text-align: left;
    }
    .special-offer li {
        display: inline-block;
        text-align: left;
        width: calc(23% - 20px);
        margin-right: 16px;
        margin-left: 16px;
        vertical-align: top;
    }
/* ======== SPECIAL OFFER END========== */

.gallery .gallery li {
   width: 50%;
    float: left; 
    
}
.gallery .gallery ul li:nth-child(odd){
  padding-right: 5px;
}

.gallery .gallery ul li:nth-child(even){
  padding-left: 5px;
}

div.gallery img {
  width: 100%;
  height: auto;
}
/* ======== INTERESTING FACTS ========== */
.interesting-facts{
      display: block;
    overflow: hidden;
}
.interesting-facts .text-block li {
      width: 50%;
       
        float: left;

}
/* ======== INTERESTING FACTS END ========== */

/* ======== HAPPENINGS ========== */
    .happenings ul {
        text-align: center;
    }
    .happenings li {
        display: inline-block;
        text-align: left;
            width: calc(39% - -76px);
        
        vertical-align: top;
    }


/* ======== HAPPENINGS END ========== */



/* ======== CONTACT ========== */
.hours-and-locations .container {
  margin-left: 30px;
}

.contact{
  display: inline-block;
 width: 100%;
}
.contact  li {
display: inline-block;
width: 33%;

}
/* ======== CONTACT END ========== */

    }


@media only screen and (min-width: 992px) {
   /* ======== ABOUT US ========== */

 .content .left {
        float: left;
        width: 50%;
        box-sizing: border-box;
        padding-right: 10px;
    }
    .content .right {
        float: right;
        width: 50%;
        box-sizing: border-box;
        padding-left: 10px;
    }
/* ======== ABOUT US END========== */

       /* ======== CONTACT ========== */
  .contact  li {
      display: inline-block;
      width: 33%;
      padding-left: 21px;
      box-sizing: border-box;
    }
/* ======== CONTACT END========== */

/* ======== HAPPENINGS========== */
    .happenings li {
        display: inline-block;
        text-align: left;
        width: calc(25% - 35px);
        padding-right: 13px;
        vertical-align: top;
    }

/* ======== HAPPENINGS END========== */
 /* ======== INTERIOR ========== */
    .modal-wrap {
        padding: 50px;
    }
    }


@media only screen and (min-width: 1024px) {
 section {
      padding-top: 20px;
      padding-bottom: 20px;
  }
  /* ======== HEADER ========== */
  header {
      padding: 25px 0 10px;
  }
  nav {
      display: block;
      position: initial;
      width: auto;
      height: auto;
      background: inherit;
      float: right;
  }
  nav li {
      float: left;
  }
  nav a {
      color: #000;
      margin-left: 20px;
  }
  nav a:not(.btn).active,
  nav a:not(.btn):hover {
      color: #e6cc2d;
      font-weight: 700;
  }
  nav a,
  nav a.btn {
      font-size: 1.8em;
      font-weight: 450;
  }
  nav a.btn {
    font-weight: 600;
      color: #fff;
      background: #9d083b;
  }
  .burger,
  nav .close {
      display: none;
  }
  nav .btn:hover {
  background-color: #540420;
}
  /* ======== HEADER END ========== */

}

    

@media only screen and (min-width: 1200px) {


}



/* ==========================================================================
   Helper classes
   ========================================================================== */
.unstyle-list {
    margin: 0;
    padding: 0;
}
.unstyle-list li::before {
    display: none;
}
.text-center {
    text-align: center;
}
/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

button {
    background: transparent;
    border: none;
}
/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
